<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <h1 class="text-center text-primary">Поиск сервиса</h1>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-10">
          <h5 class="form-group">Регион</h5>
          <div class="form-group">
            <select id ="region"
                    name="region"
                    class="form-control"
                    [(ngModel)]="requestModel.regionId">
              <option *ngFor="let r of regions; let i = index" [(value)]="r.id">{{r.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <h5 class="form-group">Производитель</h5>
          <div class="form-group">
            <select id="brand"
                    name="brand"
                    class="form-control"
                    [(ngModel)]="requestModel.brandId"
                    (change)="setPhoneModels()">
              <option *ngFor="let b of brands; let i = index;" [value]="b.id">{{b.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <h5 class="form-group">Модель</h5>
          <div class="form-group">
            <select id="model"
                    name="model"
                    class="form-control"
                    [(ngModel)]="requestModel.modelId">
              <option *ngFor="let m of models; let i = index;" [(value)]="m.id">{{m.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <h5 class="form-group">Ремонт</h5>
          <div class="form-group">
            <select id="category"
                    name="category"
                    class="form-control text-center"
                    [(ngModel)]="requestModel.categoryId">
              <option *ngFor="let c of categories; let i = index;" [(value)]="c.id">{{c.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-check has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"></div>
              <input type="checkbox" class="form-check-input" id="warranty">
              <label for="warranty">Гарантия</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-check has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"></div>
              <input type="checkbox" class="form-check-input" id="official">
              <label for="official">Официальный сервис центр</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-check has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"></div>
              <input type="checkbox" class="form-check-input" id="courier">
              <label for="courier">Забор курьером</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-check has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"></div>
              <input type="checkbox" class="form-check-input" id="legal">
              <label for="legal">Работа с юр лицами</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5>Найдено {{serviceModels.length}} сервисов</h5>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 mt-2" *ngFor="let service of serviceModels">
          <div class="row">
            <div class="col-3">
              <img src="{{ service.logoLink }}" alt="" class="img-fluid">
            </div>
            <div class="col-7">
              <h4><a href="">{{ service.serviceName }}</a></h4>
              <p>
                {{ service.serviceDescription }} <br>
                {{ service.serviceWorkingTime }} {{ service.servicePhones }}
              </p>
            </div>
            <div class="col-2">
              <h5 class="text-center">{{ service.price }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
