<div class="container">
  <h1 class="text-center">Все сервисы по ремонту смартфонов в одном месте</h1>
  <form action="" class="form-horizontal">
    <div class="row">
      <div class="col-6 offset-3">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <select class="form-control">
                <option value="Минск">Минск</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <select class="form-control">
                <option value="Apple">Apple</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <select class="form-control">
                <option value="iPhone">iPhone</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <select class="form-control text-center" size="5">
                <option value="Замена дислпея">Замена дисплея</option>
                <option value="Замена дислпея">Замена дисплея</option>
                <option value="Замена дислпея">Замена дисплея</option>
                <option value="Замена дислпея">Замена дисплея</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-center">
            <button type="submit" class="btn btn-primary">Оставить заявку</button>
          </div>
          <div class="col-6 text-center">
            <button type="submit" class="btn btn-primary">Найти сервисы</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>