<div class="container">
  <form [formGroup]="registrationForm" (submit)="register()"
        class="form-horizontal" role="form">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Регистрация</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <label class="sr-only" for="email">E-Mail</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
            <input
              id="email"
              type="text"
              class="form-control"
              name="email"
              placeholder="serviceModel@rem.by"
              formControlName="email"
              [(ngModel)]="service.email"
              required
              autofocus>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="emailExistMessage">
            <i class="fa fa-close"></i> {{emailExistMessage}}
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="sr-only" for="password">Пароль</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
            <input
              id="password"
              type="password"
              class="form-control"
              name="password"
              formControlName="password"
              [(ngModel)]="service.password"
              placeholder="Пароль"
              required>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right">Название сервиса</div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-id-card"></i></div>
            <input
              type="text"
              class="form-control"
              name="service_name"
              formControlName="serviceName"
              [(ngModel)]="service.serviceName"
              placeholder="apple-rem"
              required
              autofocus>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right">Описание сервиса</div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-info"></i></div>
            <textarea
              class="form-control"
              rows="3"
              name="service_description"
              formControlName="serviceDescription"
              [(ngModel)]="service.serviceDescription"
              placeholder="Тут должно быть описание вашего сервиса..."></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right">Время работы</div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-clock-o"></i></div>
            <input
              type="text"
              class="form-control"
              name="service_time_open"
              formControlName="serviceWorkingTime"
              [ngModel]="service.serviceWorkingTime"
              placeholder="10:00 - 22:00"
              required
              autofocus>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right">Номера телефонов</div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-phone"></i></div>
            <textarea
              rows="3"
              name="service_phones"
              class="form-control"
              formControlName="servicePhones"
              [(ngModel)]="service.servicePhones"
              placeholder="+375291112233, +375251231212"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right"></div>
      <div class="col-md-6">
        <div class="form-check has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"></div>
            <input id="warranty"
                   type="checkbox"
                   class="form-check-input"
                   formControlName="warranty"
                   [(ngModel)]="service.warranty">
            <label for="warranty">Гарантия</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right"></div>
      <div class="col-md-6">
        <div class="form-check has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"></div>
            <input id="official"
                   type="checkbox"
                   class="form-check-input"
                   formControlName="officialService"
                   [(ngModel)]="service.officialService">
            <label for="official">Официальный сервис центр</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right"></div>
      <div class="col-md-6">
        <div class="form-check has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"></div>
            <input id="courier"
                   type="checkbox"
                   class="form-check-input"
                   formControlName="courierAvailability"
                   [(ngModel)]="service.courierAvailability">
            <label for="courier">Забор курьером</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-right"></div>
      <div class="col-md-6">
        <div class="form-check has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem"></div>
            <input id="legal"
                   type="checkbox"
                   class="form-check-input"
                   formControlName="legalEntityService"
                   [(ngModel)]="service.legalEntityService">
            <label for="legal">Работа с юр лицами</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 1rem">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-user-plus"></i> Зарегистрироваться
        </button>
      </div>
    </div>
  </form>
</div>
